<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/test</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">create</property>

        <property name="connection.pool_size">1</property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <mapping class="edu.kpi.model.AccountType"/>
        <mapping class="edu.kpi.model.Confident"/>
        <mapping class="edu.kpi.model.Notary"/>
        <mapping class="edu.kpi.model.NotaryType"/>
        <mapping class="edu.kpi.model.Person"/>
        <mapping class="edu.kpi.model.PersonType"/>
        <mapping class="edu.kpi.model.Property"/>
        <mapping class="edu.kpi.model.PropertyType"/>
        <mapping class="edu.kpi.model.Region"/>
        <mapping class="edu.kpi.model.Registry"/>
        <mapping class="edu.kpi.model.Town"/>
        <mapping class="edu.kpi.model.User"/>

    </session-factory>
</hibernate-configuration>